.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: teal;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 616px;
}

.mole {
    background-image: url('../images/mole.jpg');
    background-size: cover;
}